.Sidebar{
    background-color: #161c27;
    height: 100vh;
    width: min-content;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1000;
}
.element-text{
    display: block;
    display: none;
    font-size: medium;
}
/* Lorsque je vais sur la sidebar */
 .Sidebar:hover{
    width: min-content;
 }
.Sidebar:hover .element-text{
    display: block;
}

 .Sidebar a{
    color: rgb(207, 207, 207);
}

.Sidebar a:hover{
    color: rgb(48, 48, 48);
    background-color: rgb(117, 117, 117);
}

.Sidebar .TopGroup{
    padding-top: 1.5vh;
    position: relative;
    width: 100%;
    padding-bottom: 3vh;
    
}.Sidebar .TopGroup::after{
    content: "";
    position: absolute;
    width: calc(100% + 20px);
    left: -10px;
    border-bottom: #6d6e70 solid 1px;
    padding-top: 1.5vh;
}

.Sidebar .BottomGroup{
    height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.Sidebar .BottomItem{
    bottom :0;
    position: bottom;
    width: 100%;
    margin-bottom: 1.5vh;
    font-size: 4vh;
}
.Sidebar .FirstItem{
    font-size: 4vh;
}
.Sidebar .LastItem{
    font-size: 4vh;
    margin-top: 50vh;

}
